language: java

jdk:
  - oraclejdk7

os:
  - linux

cache:
  directories:
  - $HOME/.gradle

before_script:
  - mkdir PhantomBlade
  - mv !(PhantomBlade) PhantomBlade
  - mkdir hoangbv15.github.io
  - cd hoangbv15.github.io
  - git clone git@github.com:hoangbv15/hoangbv15.github.io.git
  - cd ..
  - cd PhantomBlade

script:
  - ./gradlew desktop:zip
  - ./gradlew html:dist
  - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"desktop/build/distributions/desktop-1.0.zip"
  - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"desktop/build/libs/desktop-1.0.jar"
  - cd ..
  - rsync -r /PhantomBlade/html/build/dist/ /hoangbv15.github.io/
  - git add .
  - git commit -m "Automated deploy script"
  - git push